DESCO_API_ENDPOINT=
GEMINI_API_KEY=
MQTT_BROKER_URL=
MQTT_CLIENT_ID=
MQTT_PASSWORD=
MQTT_TELEMETRY_TOPIC=
MQTT_USERNAME=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TUYA_API_KEY=
TUYA_API_SECRET=
USE_MOCK_DATA=